<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Usuário</th>
      <th scope="col">Preço</th>
      <th scope="col">Prazo</th>
      <th scope="col">Status</th>
      <th scope="col">Apagar</th>
    </tr>
  </thead>
  <tbody>
    <% proposals.each do |proposal| %>
      <% if proposal.status == 'accepted' %>
        <tr class='table-success'>
      <% elsif proposal.status == 'rejected'%>
        <tr class='table-danger'>
      <% else %>
        <tr>
      <% end %>
      <th scope="row" class=<%= "#{proposal.status}-status"%>><i class="fas fa-circle"></i></th>
      <td><%= link_to Job.find(proposal.job_id).user.username, job_path(proposal.job_id) %></td>
      <td>R$<%= proposal.price %></td>
      <td><%= proposal.deadline.strftime("%d.%m.%Y") %></td>
      <td><%= proposal.status.capitalize %></td>
      <% if current_user.admin || proposal.user_id == current_user.id  %>
        <td>
          <%= link_to job_proposal_path(proposal.job_id, proposal), method: "Delete", class: "green-font", data: {confirm: "Tem certeza?"} do %>
              <i class="fas fa-trash-alt"></i>
          <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
