<ul class="list-group">
  <% @jobs.each do |job| %>
    <li class="list-group-item">

      <%= link_to "Ver o trabalho" job_path(job) %>
      <p>Tradução: <%= job.content %> </p>
      <p>Quem procura: <%= job.user.username %> </p>
      <% if job.user.photo.attached? %> 
        <%= cl_image_tag job.user.photo.key, quality: "auto", fetch_format: :auto, crop: :fill, style: 'height:48px; width: auto;', class: "border avatar" %>
      <% end %>
      <%= link_to 'Fazer proposta', new_job_proposal_path(job), class: 'btn btn-green' %>
      <% accepted_proposal = job.proposals.select { |proposal| proposal.status == "accepted" } %>
      
      <% if policy(job).destroy? && accepted_proposal.size != 1 %>
        <p><%= link_to 'Apagar', job, method: :delete, data: { confirm: 'Tem certeza que deseja apagar esse job?' }, class: 'btn btn-green' %></p>
      <% end %>      
    </li>
  <% end %>
</ul>
