<div class="container mt-3 center-block">
  <div class="search mt-3 col-5 mx-auto justify-content-between">
    <%= form_tag jobs_path, method: :get, class: "form-inline" do %>
    <div class="col-md-9 col-sm-12">
      <%= text_field_tag :query,
      params[:query],
      class: "form-control search-bar",
      placeholder: "Find a language"
      %>
    </div>
    <div class="col-md-2 col-sm-6">
      <%= submit_tag "Search", class: "btn btn-green ml-2" %>
    </div>
    <% end %>
  </div>
  <hr>
  <div class="jobs-all mt-3 col-md-12 col-sm-9 d-flex flex-wrap justify-content-around">
    <% @jobs.each do |job| %>
    <div class="card mt-4 col-md-5 col-sm-12">
      <div class="card-body d-flex flex-wrap">
        <div class="col-9 card-text">
          <% if job.user.photo.attached? %>
          <%= cl_image_tag job.user.photo.key, quality: "auto", fetch_format: :auto, crop: :fill, style: 'height:48px; width: auto;', class: "border avatar avatar-large avatar-job avatar-bordered" %>
          <% else %>
          <%= image_tag "person-placeholder.jpg", quality: "auto", fetch_format: :auto, crop: :fill, style: 'height:48px; width: auto;', class: "border avatar avatar-job" %>
          <% end %>
          <h5 class="mt-4"><%= link_to "Tradução: #{job.content}", job_path(job) %></h5>
          <p> <%= link_to "@#{job.user.username}", user_path(job.user) %> </p>
        </div>
        <div class="col-3 card-text d-flex flex-column align-items-end">
          <% if current_user.id != job.user_id %>
          <%= link_to 'Fazer proposta', new_job_proposal_path(job), class: 'btn btn-green btn-small' %>
          <% end %>
          <br>
          <% accepted_proposal = job.proposals.select { |proposal| proposal.status == "accepted" } %>
          <br>
          <% if policy(job).destroy? && accepted_proposal.size != 1 %>
          <p><%= link_to 'Apagar', job, method: :delete, data: { confirm: 'Tem certeza que deseja apagar esse job?' }, class: 'btn btn-green btn-delete btn-small' %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
