<div class="container d-flex">
  <div class="user_info">
    <div class="card mt-3 mb-3">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, height: 225, width: 300, crop: :fill %>
      <% else %>
        <%= image_tag "person-placeholder.jpg", height: 225, width: 300, crop: :fill %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title">@<%= @user.username %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= " #{@user.first_name} #{@user.last_name}" %></h6>
        <p class="card-text">Languages: <%= @user.skill %></p>
      </div>
    </div>

  </div>
  <div class="jobs-proposal-info ml-5 mt-3 mb-3 card card-jb-info col-8">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#jobs" role="tab" aria-controls="home" aria-selected="true">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#proposals" role="tab" aria-controls="profile" aria-selected="false">Proposals</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="jobs" role="tabpanel" aria-labelledby="jobs-tab">
        <div>
          <div class="card card-proposal-show card-livro">
            <h3 class="mt-2 pb-2 pl-3 pt-2"> Jobs you posted </h3>
            <%= render partial: "share/table_jobs", locals: { jobs: @jobs } %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="proposals" role="tabpanel" aria-labelledby="proposals-tab">
        <div class="card card-proposal-show card-livro">
          <h3 class="mt-2 pb-2 pl-3 pt-2"> Proposals you made </h3>
          <%= render partial: "share/table_proposal", locals: { proposals: @proposals, job: @job } %>
        </div>
      </div>
    </div>

  </div>
</div>
