<div class="container">
  <h2 class="edit-title mt-4">Create new proposal</h2>
  <div class="col-6 mt-4 mb-4">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">Selected job:</th>
          <td><%= @job.content %></td>
        </tr>
        <tr>
          
        </tr>
      </tbody>
    </table>
  </div>
<h4 class="edit-title mt-4">Your proposal</h4>
    <%= simple_form_for [ @job, @proposal ], :html => {:class => 'form-group ml-4'} do |f| %>
    <div class="row">
        <div class="edit-options col-4 bl-0 pl-0">
        <%= f.input :price %>
        <%= f.input :deadline %>
      </div>
    </div>
    <br>
    <%= f.submit class:"btn btn-green" %>
    <% end %>
  <hr>
  <div>
    <i class="fas fa-history"></i> <%= link_to "back home",  root_path %>
  </div>
</div>
