<div class="container">
  <h2 class="edit-title mt-4">Fazer nova proposta</h2>
  <div class="col-6 mt-4 mb-4">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">Serviço:</th>
          <td><%= @job.content %></td>
        </tr>
        <tr>

        </tr>
      </tbody>
    </table>
  </div>
<h4 class="new-title mt-4">Sua proposta:</h4>
    <%= simple_form_for [ @job, @proposal ], :html => {:class => 'form-group ml-4'} do |f| %>
    <div class="row">
        <div class="edit-options col-4 bl-0 pl-0">

        <%= f.input :price, label: "Proponha seu preço", class: "form-control" %>
        <div class="date-new-proposal">
           <%= f.input :deadline, as: :date, order:[:day, :month, :year], start_year: Date.today.year, class: "form-control", label: "Proponha seu prazo" %>
        </div>

      </div>
    </div>
    <br>
    <%= f.submit "Criar proposta", class:"btn btn-green" %>
      <% end %>
  <hr>
  <div class="btn btn-green mb-3">
    <i class="fas fa-history"></i> <%= link_to "Voltar para página inicial", root_path, class: 'back-button' %>
  </div>
</div>

